body {
  margin: 100px;
  background: #e8e8e8;
}

.codebox-window {
  background: #2D2D2D;
  color: #fff;
  padding: 20px;
  margin: 25px;
  border-radius: 5px;
  font-family: Arial;
  -webkit-box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
}

.clearfix {
  clear: both;
}

.codebox-circle-red {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 8px 0 0;
  float: left;
  background: rgb(249, 95,92, 1);
}

.codebox-circle-orange {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 8px 0 0;
  float: left;
  background: rgb(252, 186, 70, 1);
}

.codebox-circle-green {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  float: left;
  background: rgb(68, 199, 79, 1);
}

.codebox-window-content {
  margin: 20px 0 0 0;
  font-size: 14px;
}